name: Branch Builds
on:
  push:
    paths-ignore:
      - '**/*.md'
      - '.all-contributorsrc'
  pull_request:
    paths-ignore:
      - '**/*.md'
    branches:
      - main


jobs:
  test:
    runs-on: ubuntu-latest
    name: Test Processing
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Processing
        uses: ./.github/actions/setup

      - name: Build with Gradle
        run: ./gradlew test

  #      - name: Add comment with binaries
  #        if: ${{ github.event_name == 'pull_request' }}
  #        uses: marocchino/sticky-pull-request-comment@v2
  #        with:
  #          header: artifacts
  #          message: |
  #            Tests completed successfully. Build artifacts for this pull request will appear below once ready.
  #
  #            ### Build Artifacts
  #            | Platform | Link |
  #            |:--|------------------------|

  build:
    name: (${{ matrix.os_prefix }}/${{ matrix.arch }}) Create Processing Build
    runs-on: ${{ matrix.os }}
    needs: test
    permissions:
      pull-requests: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-24.04-arm
            os_prefix: linux
            arch: aarch64
            binary: deb/processing*.deb
          - os: ubuntu-latest
            os_prefix: linux
            arch: x64
            binary: deb/processing*.deb
          - os: windows-latest
            os_prefix: windows
            arch: x64
            binary: msi/Processing-*.msi
          - os: macos-latest
            os_prefix: macos
            arch: x64
            binary: dmg/Processing-*.dmg
          - os: macos-latest
            os_prefix: macos
            arch: aarch64
            binary: dmg/Processing-*.dmg
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Processing
        uses: ./.github/actions/setup

      - name: Package Processing with Gradle
        run: ./gradlew packageDistributionForCurrentOS

      - name: Add artifact
        uses: actions/upload-artifact@v4
        if: ${{ github.event_name != 'pull_request' }}
        with:
          name: processing-${{ matrix.os_prefix }}-${{ matrix.arch }}-br_${{ github.ref_name }}
          retention-days: 1
          path: app/build/compose/binaries/main/${{ matrix.binary }}

      - name: Add artifact for PR
        if: ${{ github.event_name == 'pull_request' }}
        id: upload-artifact
        uses: actions/upload-artifact@v4
        with:
          name: processing-${{ matrix.os_prefix }}-${{ matrix.arch }}-pr_${{ github.event.pull_request.number }}
          retention-days: 5
          path: app/build/compose/binaries/main/${{ matrix.binary }}

        #      - name: Add comment with binaries
        #        if: ${{ github.event_name == 'pull_request' }}
        #        uses: marocchino/sticky-pull-request-comment@v2
        #        with:
        #          append: true
        #          header: artifacts
        #          message: |
        #            |(${{ matrix.os_prefix }}/${{ matrix.arch }})|[Download processing-${{ matrix.os_prefix }}-${{ matrix.arch }}-pr_${{ github.event.pull_request.number }}](${{ steps.upload-artifact.outputs.artifact-url }})|
        
